

NET "ascii_result1[7]" IOSTANDARD = LVCMOS33;
NET "ascii_result1[6]" IOSTANDARD = LVCMOS33;
NET "ascii_result1[5]" IOSTANDARD = LVCMOS33;
NET "ascii_result1[4]" IOSTANDARD = LVCMOS33;
NET "ascii_result1[3]" IOSTANDARD = LVCMOS33;
NET "ascii_result1[2]" IOSTANDARD = LVCMOS33;
NET "ascii_result1[1]" IOSTANDARD = LVCMOS33;
NET "ascii_result1[0]" IOSTANDARD = LVCMOS33;
NET "ascii_result2[7]" IOSTANDARD = LVCMOS33;
NET "ascii_result2[6]" IOSTANDARD = LVCMOS33;
NET "ascii_result2[5]" IOSTANDARD = LVCMOS33;
NET "ascii_result2[4]" IOSTANDARD = LVCMOS33;
NET "ascii_result2[3]" IOSTANDARD = LVCMOS33;
NET "ascii_result2[2]" IOSTANDARD = LVCMOS33;
NET "ascii_result2[1]" IOSTANDARD = LVCMOS33;
NET "ascii_result2[0]" IOSTANDARD = LVCMOS33;
NET "ascii_result3[7]" IOSTANDARD = LVCMOS33;
NET "ascii_result3[6]" IOSTANDARD = LVCMOS33;
NET "ascii_result3[5]" IOSTANDARD = LVCMOS33;
NET "ascii_result3[4]" IOSTANDARD = LVCMOS33;
NET "ascii_result3[3]" IOSTANDARD = LVCMOS33;
NET "ascii_result3[2]" IOSTANDARD = LVCMOS33;
NET "ascii_result3[1]" IOSTANDARD = LVCMOS33;
NET "ascii_result3[0]" IOSTANDARD = LVCMOS33;
NET "ascii_result4[7]" IOSTANDARD = LVCMOS33;
NET "ascii_result4[6]" IOSTANDARD = LVCMOS33;
NET "ascii_result4[5]" IOSTANDARD = LVCMOS33;
NET "ascii_result4[4]" IOSTANDARD = LVCMOS33;
NET "ascii_result4[3]" IOSTANDARD = LVCMOS33;
NET "ascii_result4[2]" IOSTANDARD = LVCMOS33;
NET "ascii_result4[1]" IOSTANDARD = LVCMOS33;
NET "ascii_result4[0]" IOSTANDARD = LVCMOS33;
NET "ascii_result5[7]" IOSTANDARD = LVCMOS33;
NET "ascii_result5[6]" IOSTANDARD = LVCMOS33;
NET "ascii_result5[5]" IOSTANDARD = LVCMOS33;
NET "ascii_result5[4]" IOSTANDARD = LVCMOS33;
NET "ascii_result5[3]" IOSTANDARD = LVCMOS33;
NET "ascii_result5[2]" IOSTANDARD = LVCMOS33;
NET "ascii_result5[1]" IOSTANDARD = LVCMOS33;
NET "ascii_result5[0]" IOSTANDARD = LVCMOS33;
NET "dado_ascii[7]" IOSTANDARD = LVCMOS33;
NET "dado_ascii[6]" IOSTANDARD = LVCMOS33;
NET "dado_ascii[5]" IOSTANDARD = LVCMOS33;
NET "dado_ascii[4]" IOSTANDARD = LVCMOS33;
NET "dado_ascii[3]" IOSTANDARD = LVCMOS33;
NET "dado_ascii[2]" IOSTANDARD = LVCMOS33;
NET "dado_ascii[1]" IOSTANDARD = LVCMOS33;
NET "dado_ascii[0]" IOSTANDARD = LVCMOS33;
NET "erro_div_zero" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "pronto" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;
NET "resultado_pronto" IOSTANDARD = LVCMOS33;

# PlanAhead Generated IO constraints 

NET "dado_ascii_out[7]" IOSTANDARD = LVCMOS33;
NET "dado_ascii_out[6]" IOSTANDARD = LVCMOS33;
NET "dado_ascii_out[5]" IOSTANDARD = LVCMOS33;
NET "dado_ascii_out[4]" IOSTANDARD = LVCMOS33;
NET "dado_ascii_out[3]" IOSTANDARD = LVCMOS33;
NET "dado_ascii_out[2]" IOSTANDARD = LVCMOS33;
NET "dado_ascii_out[1]" IOSTANDARD = LVCMOS33;
NET "dado_ascii_out[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "dado_ascii_out[7]" LOC = U21;
NET "dado_ascii_out[6]" LOC = Y22;
NET "dado_ascii_out[5]" LOC = V20;
NET "dado_ascii_out[4]" LOC = V19;
NET "dado_ascii_out[3]" LOC = U19;
NET "dado_ascii_out[2]" LOC = U20;
NET "dado_ascii_out[1]" LOC = T19;
NET "dado_ascii_out[0]" LOC = R20;
NET "clk" LOC = C9;
NET "ps2_clk" LOC = W12;
NET "ps2_data" LOC = V11;
NET "reset" LOC = T15;
