
NET "LCD_DB[7]" LOC = Y15;
NET "LCD_DB[6]" LOC = AB16;
NET "LCD_DB[5]" LOC = Y16;
NET "LCD_DB[4]" LOC = AA12;
NET "LCD_DB[3]" LOC = AB12;
NET "LCD_DB[2]" LOC = AB17;
NET "LCD_DB[1]" LOC = AB18;
NET "LCD_DB[0]" LOC = Y13;


NET "LCD_DB[7]" IOSTANDARD = LVCMOS33;
NET "LCD_DB[6]" IOSTANDARD = LVCMOS33;
NET "LCD_DB[5]" IOSTANDARD = LVCMOS33;
NET "LCD_DB[4]" IOSTANDARD = LVCMOS33;
NET "LCD_DB[3]" IOSTANDARD = LVCMOS33;
NET "LCD_DB[2]" IOSTANDARD = LVCMOS33;
NET "LCD_DB[1]" IOSTANDARD = LVCMOS33;
NET "LCD_DB[0]" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;


NET "clk" LOC = E12;
NET "erro_div_zero" LOC = W21;
NET "OE" LOC = AB4;
NET "RS" LOC = Y14;
NET "RW" LOC = W13;
NET "ps2_clk" LOC = W12;
NET "ps2_data" LOC = V11;
NET "reset" LOC = T15;
NET "resultado_pronto" LOC = Y22;


NET "resultado_pronto" IOSTANDARD = LVCMOS33;
NET "erro_div_zero" IOSTANDARD = LVCMOS33;
NET "OE" IOSTANDARD = LVCMOS33;
NET "RS" IOSTANDARD = LVCMOS33;
NET "RW" IOSTANDARD = LVCMOS33;
NET "ps2_clk" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;
NET "ps2_data" IOSTANDARD = LVCMOS33;


NET "LED" LOC = V20;

# PlanAhead Generated IO constraints 

NET "LED" IOSTANDARD = LVCMOS33;
